<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adurosmart.sdk">

    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.adurosmart.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SmartHome">
        <activity
            android:name="com.adurosmart.activitys.MainActivity"
            android:label="@string/add_task"
            android:theme="@style/SmartHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.adurosmart.activitys.SectionActivity" />
        <activity android:name="com.adurosmart.activitys.GroupDetailActivity" />
        <activity
            android:name="com.adurosmart.activitys.AddTaskActivity"
            android:label="@string/add_task"
            android:theme="@style/SmartHome"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.adurosmart.activitys.ColourMixingActivity" />
        <activity android:name="com.adurosmart.activitys.SceneDetailActivity" />
        <activity android:name="com.adurosmart.activitys.SensorsActivity" />
        <activity android:name="com.mediacodec.RenderActivity" />
        <![CDATA[android:screenOrientation="portrait"/>]]>
        <!-- demo -->
        <activity android:name="com.loading.LoadingActivity" />
        <activity android:name="com.facecropper.FaceActivity" />

        <activity
            android:name="com.ceiling.ComingActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/SmartHome" />


        <activity
            android:name="com.okhttp.OkhttpActivity"
            android:label="@string/title_activity_okhttp"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>